:root {
    --active-link-color: #4d94ff;
    --control-color: #fff;
    --control-bg-color: #6c757d;
    --control-bg: var(--control-bg-color) linear-gradient(to bottom, #828a91 0, var(--control-bg-color) 100%);
    --dir-color: #fff;
    --dir-bg-color: #337ab7;
    --dir-bg: var(--dir-bg-color) linear-gradient(to bottom, var(--dir-bg-color) 0, #2e6da4 100%);                   
    --dir-up-bg-color: #6c757d;
    --dir-up-bg: var(--dir-up-bg-color) linear-gradient(to bottom, #828a91 0, var(--dir-up-bg-color) 100%);
}
@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #fff;
        --text-color: #000;
        --type-file-color: #515151;
        --type-file-bg-color: #ddd;
        --type-file-bg: var(--type-file-bg-color) linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
        --size-color: #777;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #1a1a1a;
        --text-color: #fff;
        --type-file-color: #ccc;
        --type-file-bg-color: #333;
        --type-file-bg: var(--type-file-bg-color) linear-gradient(to bottom, #1a1a1a 0, var(--type-file-bg-color) 100%);
        --size-color: #ccc;
    }
}
body {
    width: 90%;
    margin: 0 auto;
    font-family: sans;
    font-size: 34px;
    background-color: var(--bg-color);
    color: var(--text-color);
}
h1 {
    margin: 1em 0;
    font-size: 130%;
}
a, a:visited {
    color: var(--text-color);
    text-decoration: none;
}
a:active, a:hover {
    color: var(--active-link-color);
    text-decoration: none;
}
.logo {
    display: inline-block;
    vertical-align: middle;
}
.logo img {
    width: 3em;
    height: 3em;
}
.title {
    margin-left: 0.5em;
}
.listing {
    width: 100%;
}
.row {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
}
.col {
    display: inline-block;
    margin: 0 0.2rem;
    padding: 1rem 0.5rem;
    font-family: monospace;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.25rem;
    white-space: nowrap;
}
a.type-dir-up {
    flex-grow: 0;
    width: auto;
    background: var(--dir-up-bg);
    border-color: var(--dir-up-bg-color);
    color: var(--dir-color);
}
a.type-dir {
    background: var(--dir-bg);
    border-color: var(--dir-bg-color);
    color: var(--dir-color);
}
a.type-file {
    background: var(--type-file-bg);
    border-color: var(--type-file-bg-color);
    color: var(--type-file-color);
}
.sort a {
    background: var(--control-bg);
    border-color: var(--control-bg-color);
    color: var(--control-color);
    font-size: 80%;
}
.sort-asc .col-name.sorted::after,
.sort-asc .col-size.sorted::before {
    margin: 0 0.5em;
    content: "\0025B2";
}
.sort-desc .col-name.sorted::after,
.sort-desc .col-size.sorted::before {
    margin: 0 0.5em;
    content: "\0025BC";
}
.path {
    font-family: monospace;
}
.col-name {
    flex-grow: 1;
    flex-shrink: 10;
    overflow: hidden;
    overflow-wrap: anywhere;
    text-overflow: ellipsis;
}
.col-size {
    border-color: var(--size-color);
    background-color: var(--size-bg-color);
    color: var(--size-color);
    text-align: right;
    width: 10rem;
}
.size-suffix {
    display: inline-block;
    width: 1.5em;
    margin-left: 0.25em;
    font-size: 80%;
    text-align: left;
}
.powered-by {
    margin: 3em 0;
    text-align: center;
    font-size: 80%;
}
.powered-by a {
    font-family: monospace;
    font-size: 120%;
    margin: 0 0.5em;
}
a.powered-by:hover {
    text-decoration: underline;
}

@media (min-width: 992px) {
    body {
        width: 60%;
        font-size: 16px;
    }
    .logo img {
        width: 4em;
        height: 4em;
    }
    .col {
        padding: 0.5rem;
    }
    .col-size {
        width: 5rem;
    }
}
